<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form method="post" action="/sign-up">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" />
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <label for="confirm-password">Confirm Password</label>
    <input type="text" name="confirm-password" />
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>